.center{
    display:flex;
    justify-content:center;
}
.container{
    background: lightskyblue no-repeat center center fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    min-height:100vh;
    min-width:100vw;
    background-size: cover;
}
h2{
    text-align: center;
}
.form{
    background-color:lightskyblue;
    padding:50px;
}
.button{
    background-color:#201f1f;
    color:white;
    border:none;
    padding:5px 80px 5px 80px;
    border-radius:15px;
    margin:10px;
}
.button:hover{
    background-color:#3b3b3b
}
input{
    margin-bottom:10px;
    margin-top:10px;
}